* {
  box-sizing: border-box;
  border: 1px solid red;
}

:root {
  --heading: "Kanit", sans-serif;
  --body: "Raleway", sans-serif;
}

header {
  background-color: rgb(104, 4, 4);
  color: white;
}
h1 {
  font-family: var(--heading);
  font-size: 50px;
  padding: 5px;
}

p {
  font-family: var(--body);
  font-size: 50px;
}
