* {
  box-sizing: border-box;
  border: 1px solid red;
}

:root {
  --heading: "Kanit", sans-serif;
  --body: "Raleway", sans-serif;
}

header {
  background-color: rgb(104, 4, 4);
  color: white;
}
h1 {
  font-family: var(--heading);
  font-size: 50px;
  padding: 5px;
}

form {
  display: flex;
}

footer {
  background-color: whitesmoke;
}

footer h4 {
  font-family: var(--heading);
}

footer p {
  font-family: var(--body);
}
/* https://codepen.io/KenanYusuf/pen/eRprzN */
body {
  overflow: hidden;
}
.ticker {
  display: flex;
}
.ticker__list {
  display: flex;
  margin-top: 20px;
  animation: ticker 15s infinite linear;
}
.ticker:hover .ticker__list {
  animation-play-state: paused;
}
.ticker__item {
  margin-right: 20px;
}
@-moz-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
@-o-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
/* https://codepen.io/KenanYusuf/pen/eRprzN */
